body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/img/logo/bg-min-register.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  transition: .2s;
}

form {
  width: 100%;
}

.centralize {
  display: flex;
  justify-content: center;
}

.form-2-wrapper {
  /* background-image: linear-gradient(to top, #fff 0%, #ceefff 100%); */
  background: #fff;
  padding: 50px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}